<a href="https://colab.research.google.com/github/Elj33/mysight/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np

In [ ]:
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

for i in range(len(data)):
  for j in range(len(data[0])):
    data[i][j] *= 2

In [3]:
import numpy as np

In [10]:
a = np.array([1,2,3,4,5,6,7])
print(type(a))

<class 'numpy.ndarray'>

**NumPy 산술 연산**

In [17]:
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

for i in data:
  for j in i:
    j = j*2

data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [19]:
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
dat

# 행렬과 스칼라의 곱
for i in range(len(data)):
  for j in range(len(data[0])):
    data[i][j] *= 2

# 행렬끼리 덧셈

[[2, 4, 6], [8, 10, 12], [14, 16, 18]]